html(lang="pt-br")
  - var nome = 'Curso Front-End'
  - var txt = false
  head
    title=nome
  body
    //div(class="top") teste
    //div.top teste           | é a mesma coisa do ex. de cima
    //div#top               
    //#top teste              | div com id = top 
    if txt
        header.
          Teste #{nome} teste
    else
        div Não  TXT
    
    
    
    
